- {{ commit.summary }}
  {{ commit.body|indent(2, first=True) }}
  {% for key, val in commit.metadata["trailers"].items() %}
  {% if key not in valid_author_tokens %}
  **{{ key }}:** {{ val|join(", ") }}

  {% endif %}
{% endfor %}
